[Container]
Pod=immich.pod
ContainerName=immich_postgres
Environment="POSTGRES_INITDB_ARGS=--data-checksums"
EnvironmentFile=immich.env
Secret=immich-db-password,type=env,target=POSTGRES_PASSWORD
Image=ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
Volume=./immich-database-healthcheck:/health.sh:z
ShmSize=128m
# If you want to use the unit provided in `database_backup`
# Volume=/path/to/db/backups:/var/db_backup/:z
HealthCmd=["/bin/bash", "/health.sh"]
HealthStartPeriod=5m
HealthInterval=30s
HealthTimeout=5s
HealthRetries=5
Notify=healthy

[Service]
Restart=always
