[Unit]
Requires=immich-redis.service immich-database.service 
After=immich-redis.service immich-database.service 

[Container]
Pod=immich.pod
ContainerName=immich_server
EnvironmentFile=immich.env
Secret=immich-db-password,type=env,target=DB_PASSWORD

Image=immich-server.image

# If localtime is not set (e.g. Fedora CoreOS) : 
# Volume=/usr/share/zoneinfo/Europe/Paris:/etc/localtime:ro
Volume=/etc/localtime:/etc/localtime:ro

HealthCmd=["/bin/bash", "immich-healthcheck"]
HealthStartPeriod=3m
HealthInterval=10s
HealthTimeout=30s
HealthRetries=10
Notify=healthy

[Service]
# give some time to the database to start
ExecStartPre=sleep 30
Restart=always

[Install]
WantedBy=default.target
