[Container]
Pod=immich.pod
ContainerName=immich_redis
Image=docker.io/valkey/valkey:9@sha256:546304417feac0874c3dd576e0952c6bb8f06bb4093ea0c9ca303c73cf458f63
HealthCmd="/usr/local/bin/redis-cli ping || exit 1"
HealthStartPeriod=30s
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5
Notify=healthy

[Service]
Restart=always

