[Unit]
Requires=immich-redis.service immich-database.service immich-microservices.service immich-database.service immich-machine-learning.service
After=immich-redis.service immich-database.service immich-microservices.service immich-database.service immich-machine-learning.service

[Container]
# FIXME: this requires podman 5.0
#Pod=immich.pod
PodmanArgs=--pod immich
ContainerName=immich_server
EnvironmentFile=/etc/containers/systemd/immich/immich.env
Exec=start.sh immich
Image=immich-server.image
#PublishPort=2283:3001
Volume=/home/raid/immich:/usr/src/app/upload:z
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target