[Unit]
Requires=immich-proxy.socket immich-server.service
After=immich-proxy.socket immich-server.service

[Container]
Pod=immich.pod
ContainerName=immich_proxy
# Alpine image has the stream proxy function: https://stackoverflow.com/questions/41696177/how-to-get-nginx-with-stream-ssl-module-without-recompiling-docker-accepted
Image=docker.io/nginx:1.27.0-alpine
Environment=NGINX=4;3;
Volume=nginx.conf:/etc/nginx/nginx.conf:ro

[Install]
WantedBy=default.target
