[Unit]
Requires=immich-redis.service immich-database.service
After=immich-redis.service immich-database.service

[Container]
# FIXME: this requires podman 5.0
#Pod=immich.pod
PodmanArgs=--pod immich
ContainerName=immich_microservices
EnvironmentFile=immich.env
Exec=start.sh microservices
Image=immich-server.image
Volume=/home/raid/immich:/usr/src/app/upload:z
Volume=/etc/localtime:/etc/localtime:ro
HealthCmd='["/bin/bash", "-c", "exec 5<>/dev/tcp/127.0.0.1/3002"]'
HealthStartPeriod=30s
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5
Notify=healthy

[Service]
Restart=always

