[Unit]
Requires=immich-redis.service immich-database.service immich-microservices.service immich-database.service immich-machine-learning.service
After=immich-redis.service immich-database.service immich-microservices.service immich-database.service immich-machine-learning.service

[Container]
Pod=immich.pod
ContainerName=immich_server
EnvironmentFile=immich.env
Exec=start.sh immich
Image=immich-server.image
Volume=/home/raid/immich:/usr/src/app/upload:z
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always

[Install]
WantedBy=default.target
