[Container]
# FIXME: this requires podman 5.0
#Pod=immich.pod
PodmanArgs=--pod immich
ContainerName=immich_machine_learning
EnvironmentFile=immich.env
Image=ghcr.io/immich-app/immich-machine-learning:v1.101.0
Volume=model-cache:/cache
HealthCmd=["/bin/bash", "-c", "exec 5<>/dev/tcp/127.0.0.1/3003"]
HealthStartPeriod=30s
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5
Notify=healthy

[Service]
Restart=always
