[Container]
ContainerName=immich_ml
PublishPort=3003:3003
Image=ghcr.io/immich-app/immich-machine-learning:v2.1.0-rocm
Volume=model-cache:/cache
HealthCmd=["/bin/bash", "-c", "exec 5<>/dev/tcp/127.0.0.1/3003"]
HealthStartPeriod=30s
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5
Notify=healthy

SecurityLabelDisable=true
AddDevice=-/dev/accel
AddDevice=-/dev/dri
AddDevice=-/dev/kfd
GroupAdd=video

[Service]
Restart=always

[Install]
WantedBy=default.target

